.search-box {
  padding: 24px 0;

  h2 {
    margin-bottom: 16px;
  }

  input {
    border: none;
    outline: none;
    background-color: #f7f8f9;
    padding: 12px 24px;
    border-radius: 20px;
    width: 320px;
  }
}